@font-face
    font-family "PlayFairDisplay"
    src url('../fonts/PlayfairDisplay-Bold.ttf') format('ttf')
    font-weight 600

@font-face
    font-family "PlayFairDisplay"
    src url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf')
    font-weight 400

h1, h2, h3, h4, h5 
    font-family "PlayFairDisplay", serif
    font-weight 400
